{% extends ':admin:base.html.twig' %}
{% import "AdminBundle:Main:_helper.html.twig" as helper %}

{% set sideMenuActiveSection = 'news' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/chosen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/colorbox.css') }}" />
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ path('admin_main_home') }}">{{ 'admin.titles.home'|trans }}</a>
            </li>
            <li><a href="{{ path('news_article') }}">{{ 'news.menu.article'|trans }}</a></li>
            <li class="active">{{ 'news.titles.new_item'|trans }}</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ 'news.titles.new_item'|trans }}</h1>
</div>

<div class="btn-group screenTopButtons">
    <a class="btn btn-sm btn-inverse" href="{{ path('news_article') }}">{{ 'admin.titles.list'|trans }}</a>
    <button class="btn btn-sm btn-inverse" id="btnShowImageGallery" role="button" data-toggle="modal">Images</button>
</div>

<div class="row">
    <div class="col-xs-12">

        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'novalidate':'true', 'class': 'form-horizontal', 'role':'form'}}) }}

        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
            > {{ form_label(form.title) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> {{ form_label(form.photoFile) }} </label>
            <div class="col-sm-10">
                {{ form_errors(form.photoFile) }}
                {{ form_widget(form.photoFile) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
            > {{ form_label(form.author) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.author) }}
                    {{ form_widget(form.author) }}
                    <span class="lbl"></span>
                </label>

            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
            > {{ form_label(form.position) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.position) }}
                    {{ form_widget(form.position) }}
                    <span class="lbl"></span>
                </label>

            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
            > {{ form_label(form.description) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                    <span class="lbl"></span>
                </label>

            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"
            > {{ form_label(form.active) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.active) }}
                    {{ form_widget(form.active) }}
                    <span class="lbl"></span>
                </label>

            </div>
        </div>
        <div class="space-4"></div>

            {{ form_rest(form) }}

            <div class="clearfix form-actions">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-info" type="submit" name="submit">
                        <i class="icon-ok bigger-110"></i>
                        {{ 'admin.titles.add'|trans }}
                    </button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>

<div id="dialog-gallery" class="hide">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button id="uploadBtn" class="btn btn-large btn-primary">Choose file</button>
            </div>
            <div class="col-xs-12">
                <div id="progressOuter" class="progress progress-striped active" style="display:none;">
                    <div id="progressBar" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-10">
                <div id="msgBox">
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="galleryImages"></div>
</div>

{% endblock %}

{% block bottomScripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/admin/ace/assets/js/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/ace/assets/js/jquery.colorbox-min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/SimpleAjaxUploader/SimpleAjaxUploader.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(function($) {

            $(".chosen-select").chosen();
            CKEDITOR.config.language = '{{ currentLanguage.locale }}';
            CKEDITOR.replace('article_description', {
                contentsLangDirection : '{{ currentLanguage.direction }}'
            });

            var uuid = $('#article_uuid').val();
            var imageUploadUrl = "{{ url('news_article_upload_image', { 'uniqid':'XYZ', 'temp':true }) }}";
            imageUploadUrl = imageUploadUrl.replace('XYZ', uuid);

            var loadImagesUrl = "{{ url('news_article_load_images', { 'uniqid':'XYZ', 'temp':true }) }}";
            loadImagesUrl = loadImagesUrl.replace('XYZ', uuid);

            $("#btnShowImageGallery").on('click', function(e) {
                e.preventDefault();

                var dialog = $("#dialog-gallery").removeClass('hide').dialog({
                    modal: false,
                    title: "Image Gallery",
                    buttons: [{
                        text: "Close",
                        "class" : "btn btn-xs",
                        click: function() {
                            $(this).dialog( "close" );
                        }
                    }]
                });
            });

            var btn = document.getElementById('uploadBtn'),
                progressBar = document.getElementById('progressBar'),
                progressOuter = document.getElementById('progressOuter'),
                msgBox = document.getElementById('msgBox');

            var uploader = new ss.SimpleUpload({
                button: btn,
                url: imageUploadUrl,
                name: 'uploadfile',
                multipart: true,
                hoverClass: 'hover',
                focusClass: 'focus',
                responseType: 'json',
                startXHR: function() {
                    progressOuter.style.display = 'block'; // make progress bar visible
                    this.setProgressBar( progressBar );
                },
                onSubmit: function() {
                    msgBox.innerHTML = ''; // empty the message box
                    btn.innerHTML = 'Uploading...'; // change button text to "Uploading..."
                },
                onComplete: function( filename, response ) {
                    btn.innerHTML = 'Choose Another file';
                    progressOuter.style.display = 'none'; // hide progress bar when upload is completed
                    if ( !response ) {
                    }
                    if ( response.success ) {
                        loadImages();
                    } else {
                        if ( response.msg )  {
                        } else {
                        }
                    }
                },
                onError: function() {
                }
            });

            function loadImages() {
                $.ajax({
                    method: "POST",
                    url: loadImagesUrl
                }).done(function(html) {
                    $('#galleryImages').html(html);
                    colorBox();
                }).fail(function() {
                });
            }

            function removeImage(id, temp) {
                $.ajax({
                    method: "POST",
                    url: '{{ url('news_article_delete_image') }}',
                    data: {
                        id: id,
                        temp: temp
                    },
                    dataType:'json'
                }).done(function(json) {
                    if(!json.success) {
                        alert('حدث خطأ');
                    }
                    loadImages();
                }).fail(function() {
                });
            }

            function getActiveEditorInstance() {
                var ck_instance_name = false;
                for ( var ck_instance in CKEDITOR.instances ){
                    if (CKEDITOR.instances[ck_instance].focusManager.hasFocus){
                        ck_instance_name = ck_instance;
                        return ck_instance_name;
                    }
                }
                return false;
            };

            function colorBox() {
                var colorbox_params = {
                    reposition: true,
                    scalePhotos: true,
                    scrolling: false,
                    previous: '<i class="icon-arrow-left"></i>',
                    next: '<i class="icon-arrow-right"></i>',
                    close: '&times;',
                    current: '{current} of {total}',
                    maxWidth: '100%',
                    maxHeight: '100%',
                    onOpen: function () {
                        document.body.style.overflow = 'hidden';
                    },
                    onClosed: function () {
                        document.body.style.overflow = 'auto';
                    },
                    onComplete: function () {
                        $.colorbox.resize();
                    }
                };

                $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
                $("#cboxLoadingGraphic").append("<i class='icon-spinner orange'></i>");//let's add a custom loading icon

                $('#galleryImages .gallery-add-image').click(function(e){
                    e.preventDefault();
                    var activeEditor = getActiveEditorInstance();
                    if(activeEditor) {
                        var img = $(this).closest('li').find('img');
                        var element = CKEDITOR.dom.element.createFromHtml( '<img src="' + img.attr('src') + '" />' );
                        CKEDITOR.instances[activeEditor].insertElement( element );
                    }
                });
                $('#galleryImages .gallery-remove-image').click(function(e){
                    e.preventDefault();
                    if(confirm('Are you sure?')) {
                        var img_id = $(this).attr('img-id');
                        removeImage(img_id, true);
                    }
                });
            }

            loadImages();

        });
    </script>
{% endblock %}


